/*---------------------------------------Page Home White---------------------------------------*/
html body{
    background:none;
    color: #555555;
}
div a:focus{
    color: #555555;
}
div a, div a:hover{
    color:#555555;
}
.index-white,.index-white .contents-main{background:#fff;}
{
    background: #fff;
    color:#555555;
}
.index-white .about-top:before {
    background:none;
}
.shopping-buy::before{
	color:#fff;
}
.index-white .about-bottom:before {
    background: url("../images/bg-white.png") repeat-x scroll center bottom transparent;
}

.index-white .parallax-block-content {
    text-align: center;
}
.index-white .title-page ,.index-white .about-top {
    color: #555555;
}
.index-white .timetable-cont img {
    opacity: 1;
}
.index-white .classes-content .box-cell {
    margin: 25px 25px 0;
    padding: 10px;
}
.index-white .box-inner {
    position: relative;
    z-index:99;
}
.index-white .timetable-top .time-table-title {
    left: 0;
    padding: 10px;
    text-align: left;
    top: 0;
}
.index-white .times-table {
    left: 30px !important;
    top: 30px !important;
}

.index-white .box-text a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
.index-white .classes-content .table:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.index-white  .timetable-top{
    margin-bottom: 60px;
}
.index-white .page-numbers{
    color:#555555;
}
.index-white .page-numbers.current{
    color:#ffffff;
}
.index-white .widget-title{
    padding-left: 15px;
}

.index-white .page-footer {
    color:#fff;
}
/*
.index-white .email input.inputbox {
    background: none repeat scroll 0 0 #fff;
}
.index-white #copyright {
    background: none repeat scroll 0 0 #eeeeee;
    border-top: none;
}
.index-white #copyright.copyright-store,.index-white #copyright:hover {
    background: none repeat scroll 0 0 #eeeeee;
}
*/
.index-white .slider-banner {
    position: relative;
    background: url("images/bg_1.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media (max-width: 479px) {
.index-white .classes-content .box-cell {
        margin: 50px 50px 0;
}
}
@media (max-width: 1024px) {
	.index-white .classes-content .box-cell {
		margin: 25px 18px 0;
}
}
@media (max-width: 990px) {
    .index-white .classes-content .box-cell {
        margin: 25px 25px 0;
    }
}
.header-container-2,
.header-container-3{
	background:#f6f6f6!important;
}
#header.reveal:not(.alt),
.boxing-page .reveal:not(.alt) .nav-container,
.boxing-page .reveal:not(.alt) .quick-access,
.boxing-page #header.reveal:not(.alt),
.boxing-page .nav-container,
.boxing-page .quick-access,
.page-category .header-container
{
	background:#f6f6f6;
}
.breadcrumbs ul{
	background:#fff;
}
.breadcrumbs ul::before{
	border-color: transparent;
}

#header.reveal:not(.alt) .megamenu > ul > li > a,
.boxing-page .megamenu ul > li > a,
.header-container-2 .megamenu ul > li > a,
.page-category .header-container .megamenu ul > li > a,
.header-container-3 .megamenu ul > li > a{
	color:#828282;
}
.entry-footer span.edit-link a,.success a,
.news-page .news-title a,.news-wapper .details-news a{
	background:none;
	color:#828282;
}
.timetable-top .table::before{
	border:none;
}
.our-team-nav{
	background:#f6f6f6;
}
.contact-form .contact{
	background:#ddd;
	border:1px solid #f6f6f6;
}
.control{
	background:#fff;
	color:inherit;
}
.headding-bottom ,.product-bottom{
    border-bottom: 3px solid #fff;
}
.content-our-team.our-team-tabs .our-team-nav span,.news-date{
	color:#838383;
}
.latest-news-item .news-date{
	color:#fff;
}
.content-our-team.our-team-tabs .our-team-nav .our-team-current span,
.content-our-team.our-team-tabs .our-team-nav span:hover span,.icon-block i{
	color:#fff;
}
.icon-headding i{
	color:#fff;
}
.contact-form,
.contents-main,
{
	background:#fff!important;
}
.icon-img{
	box-shadow: 0 0 0 3px #555;
}
.parallax-block-content,
.timetable ,
.timetable  a,
.to-bottom i,
.filters button.is-checked,
.filters button:hover,
.facts-page,.facts-page .title-page{
	color:#fff;
}

.filters button.filter{
	border:1px solid #dcdcdc!important;
	padding-bottom:2px;
	height:auto;
}
.vc_row.our-success{
	color:#555555;
}
.our-succes-top{
	border-bottom:1px solid #ececec;
}

.boxing-page .mainnav ul.nav-menu > li{
	border:none!important;
}
.price-table-1 ul li {
	background:none!important;
	color:#838383;
}
.load-more{
	background:none;
	border:1px solid #dcdcdc;
}
.load-more:focus,.price-tb,
.price-tb:hover .plan a,
.boxing-card,.yoga-card,
.btn-store a,.my-cart i,
.new-label,.onsale-label,.icon-sport i,.coming-soon{
	color:#fff;
}
.price-table-1 ul,.price-table-1 ul .icon{
	border:none;
}
.fit-strong-right,.fit-background,.price-list{
	background:#f6f6f6;
}
.price-list{
	border:1px solid #dcdcdc;
}
.price-tb .plan{
	background:#dcdcdc;
	border:none;
}
.collection{
	background:#fff;
	color:#fff;
}
.sevices-main{
	background:#555;
}
.popular-title{
	background:rgba(255,255,255,0.8);
}

.sport-content .read-more:hover a{
	color:inherit;
}
.sport-content .read-more:hover a .fa{
	border-color:#555;
}
.masonry-lagar .price-table-text::before{
	border-color:#fafafa;
}
.header-option .top-links{
	background:#555;
	color:#fff;
}
.menu-about ul li {
	background:#f1f1f1;
	border-left:1px solid #dcdcdc;
}
.menu-about {
    background: #f1f1f1;
	border:none!important;
}
.menu-about  ul{
	border:none;
	margin-top:1px;
}
.menu-about ul li a:hover,
.menu-about ul li a:focus,
.menu-about .selected  a{
	background:#fff;
}
.menu-about ul li  a:hover{
	color:#fff;
}
.breadcrumbs .category-2,.breadcrumbs li{
	color:#555;
}

.tab-history .our-team-nav,.ask-question{
	background:#fff;
}
.tab-history .our-team-nav .our-team-current{
	color:#555;
	font-weight:bold;
}
.answer{
	padding-left:none;
}
.question-content{
	background:#eee;
}
.question-content p{
	color:#555;
}
.answer p, .content-reply{
	color:#838383;
}
.content-page, .comments-content,.class-trainer, .class-info{
    background: #f1f1f1;
}
.info-products,.popular-store .info-products,.popular-store .product-content{
	background:#ddd;
}
.popular-product{
	border-right: 1px solid rgba(255, 255, 255,1);
}
.page-product .toolbar .view-mode .grid, 
.page-product .toolbar .view-mode .list{
	border:1px solid #ddd;
}
.product-list-row .product-content,.widget{
	background: #f8f8f8;
}
.our-trainers .product-image-wrapper:hover,
.product-image-wrapper:hover .product-name a{
	color:#fff;
}
.product-list-row .product-image-wrapper:hover .product-name a{
	color:#838383;
}
.our-trainers .info-products{
	background:#f1f1f1;
}
.product-list-row .actions-box ul li a{
	color:#fff;
	background:#555;
}
.product-name a{
	color:#555;
}
.comments-title,
.class-info-title,
a.profile,a.profile:hover,
.class-trainer-title{
	color:#fff;
}
.info-content,.content-page p{
	color:#555;
}
#page-top select,
#page-top select option{
	background:#fff;
	color:inherit;
}
.product-list-row .info-products-list .desc{
	color:#555;
}
.search-box:before{
	display:none;
}
.mini-cart{
	box-shadow:2px 2px 2px #eee;
}
.quick-access .search-box,.mini-cart,.product-popular{
	background:#fff!important;
}
.back-to-top:hover a{
	color:#fff;
}
.search-box{
	border:none;
	box-shadow:none;
}
.quick-access .search-box{
	box-shadow:2px 2px 2px #eee;
}
.quick-access .search-box{
	box-shadow:none;
}
.mini-cart ul li{
	background:#eee!important;
	border-bottom:1px solid #ccc!important;
}
.mini-cart .title{
	border-bottom:1px solid #ccc!important;
}
.mini-cart ul li:hover,.product-essential{
	background:#fff!important;
}
.search-box .top-search{
	background: #fff;
    border: 1px solid #ddd;
    color: inherit;
}
.search-box, .product-image, .product-img-box,
.yith_magnifier_zoom_magnifier,.widget_products ul li{
	background:#f8f8f8;
}
.widget_products ul li{
	border:none;
}
.single-product.woocommerce .thumbnails,
.product-detail .product-collateral .box-collateral,
.product-detail .product-collateral > ul li a{
	background:#f1f1f1;
}
.product-detail .ui-tabs-active a,
.product-detail .ui-tabs li:hover a,
.widget_price_filter .widget-title span{
	color:#fff;
}
*::-moz-placeholder{
	color:inherit;
}

.product-essential .meta-box,
.product-essential .product-name,
.product-essential .add-to-box,
.product-essential .cat-list,
.product-essential .tags-list{
	border-bottom:1px solid #ddd;
}
.add-to-cart input,
.product-essential .tags-list a,
.product-essential .social-icon ul a{
	background:#fff;
	color:inherit;
}
.product-essential .link-wishlist{
	color:#fff;
}
.product-essential .tags-list a,.add-to-cart input{
	border:1px solid #aaa;
}
.product-essential .social-icon ul a:hover{
	color:#fff;
}
.product-essential .cat-list,
.product-essential .short-description,
.product-essential .tags-list{
	color:inherit;
}
.product-related .title{
	border-bottom:1px solid #ddd;
}
.widget_categories .widget-title span,.widget_product_categories .widget-title span{
	color:#fff;
}
.widget_products span{
	color:#555;
}

.product-check-out .checkout .checkout-row .box{
	background:#f1f1f1;
	border-color:#eeeeee;
}
.product-check-out .checkout .checkout-row .title{
	color:#fff;
}
.product-check-out .checkout .checkout-row .box .input-text, 
.product-check-out .checkout .checkout-row .box select{
	background:#fff;
	color:#555;
	border-color:#eee;
}
#page-top .select2-drop, 
#page-top .select2-results,
.input-text, .search-field, 
#page-top .select2-input{
	background:#fff;
	color:#555;
	border-color:#eee;
}
.product-cart .cart .cart-collaterals .calculate-shipping select, 
.woocommerce .select2-choice{
	background:#fff;
	color:#555;
	border-color:#eee;
}
#page-top .select2-results .select2-highlighted{
	background:#f1f1f1;
}
.select2-dropdown-open.select2-drop-above .select2-choice, 
.select2-dropdown-open.select2-drop-above .select2-choices{
	border-color:#eee;
}
.product-check-out .checkout .checkout-row .box p,
.product-check-out .checkout .checkout-row .payment-method{
	color:#555;
}
.product-check-out .checkout .checkout-row .payment-method .payment-item{
	background:#f1f1f1;
	border-color:rgba(0, 0, 0, 0.1);
}
.product-check-out .checkout .checkout-row .payment-method{
	border-color:rgba(0, 0, 0, 0.1);
}
.widget_categories a:hover, .widget_product_categories a:hover{
	color:#fff;
}
.widget_products ul li{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-color:rgba(0, 0, 0, 0.1)!important;
}
.widget_products ul li:hover{
	background:#fff;
}
.widget_products ul li .info-products .product-name{
	color:#838383;
}
.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message{
	background:#f7f6f7;
	color:inherit;
}
.woocommerce .woocommerce-info::before{
	color:#838383;
}

.share {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 1);
}
.details-desc-title,.info-content{
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.progress-indicator {
    background: #ccc;
}
.skill-percent-callout{
	color:#fff;
}
.experience-details-content{
	background:#fff;
	color:inherit;
}
.experience-details-title{
	background:#555;
}
.experience-details-title i.fa{
	border-color:#fff;
}
.profile{
	background:#f1f1f1;
}
.profile-info{
	color:#fff;
}
.woocommerce table.order_details th, 
.woocommerce table.order_details td, 
.woocommerce table.customer_details th, 
.woocommerce table.customer_details td{
	padding-left:10px;
}
.product-list-row .info-products-list hr{
	border-color:#ccc;
}
.coming-event, .coming-event a,.coming-event a:hover, .coming-event .next button i{
	color:#fff;
}
.reviews-content,.sidebar-bottom{
	background:#f1f1f1;
	color:#838383;
}
.title-match h3 a{
	color:#838383;
}
.event-month .next .fa{
	color:#fff;
}
.widget-title,.widget_archive li{
	border-bottom:1px solid #fff;
}
.tagcloud{
	margin-top:10px;
	margin-left:15px;
}
.tagcloud a{
	background:#fff;
	color:inherit;
}
.widget-area{
	color:inherit;
}
.blog-main .quote-text,.blog-main .quote-text p,.blog-main .quote-text a{
	color:#fff;
}
.blog-item,.blog-author, .related-post{
	background:#f1f1f1;
}
.our-blog article,.our-blog p, .our-blog .more-link, .blog-item li, .blog-item td, .blog-item dd, .blog-item address{
	color:#555;
}
.icon-blog .icon a{
	background:#555;
}
.content-wrapper blockquote p{
	color:#555;
}
.content-wrapper blockquote{
	background:#fff;
	color:#555;
}
.related-post{
	padding:30px 15px;
}
.entry-footer span.cat-links, .entry-footer span.tags-links{
	background:none;
	padding:0;
}
.related-post-list,.related-post-title{
	border-color:#ddd;
}

.iw-calendar .eventon_sorting_section{
	background:#f1f1f1;
}

.iw-calendar .calendar_header #evcal_cur,.iw-calendar .calendar_header #evcal_cur span{
    color:#fff!important;

}
.iw-calendar .ajde_evcal_calendar #evcal_head .evcal_arrows{
    border: 2px solid rgba(255, 255, 255, 0.3);

}
.iw-calendar .ajde_evcal_calendar #evcal_head .evcal_arrows:hover .fa{
    color:#666666;
}
.iw-calendar #eventon_loadbar_section{
    border-bottom: 3px solid #fff;
}
.iw-calendar .eventon_fc_days,.iw-calendar .eventon_fc_days .eventon_fc_daynames{
    border-left: 0px solid #fff;
}
.page .iw-calendar .eventon_fullcal .evo_fc_day{
    background: #f1f1f1;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    color: #666666;
}
.page .iw-calendar .eventon_fullcal .eventon_fc_daynames .evo_fc_day,
.page .iw-calendar .eventon_fullcal .evo_fc_day.evo_fc_empty:hover,
.page .iw-calendar .eventon_fullcal .evo_fc_day.has_events:hover,
.page .iw-calendar .eventon_fullcal .eventon_fc_days .evo_fc_day.on_focus
{
    color:#fff!important;
	border-color:#fff;
}
.page .iw-calendar .eventon_fullcal .evo_fc_day.has_events.on_focus span  i,
.page .iw-calendar .eventon_fullcal .evo_fc_day.has_events:hover span i{
	background:#fff!important;
}
.page .iw-calendar .eventon_fc_days .evo_fc_day.on_focus,
.page .iw-calendar .eventon_fc_days .evo_fc_day.highl{
    border-top: 3px solid #fff;
    color:#838383!important;
}
.page .iw-calendar .eventon_fullcal .evo_fc_day:hover{
    border-top: 3px solid #fff;
}
.iw-calendar .eventon_fc_days,.iw-calendar .eventon_fc_daynames{
    border-left: 0px solid #fff;
}

.iw-calendar .eventon_fullcal .evo_fc_day:hover  span i,
.iw-calendar .eventon_fullcal .evo_fc_day.evo_fc_empty:hover  span i,
.iw-calendar .eventon_fc_days .evo_fc_day.on_focus  span i,
.iw-calendar .eventon_fc_days .evo_fc_day.highl  span i{
    background:#838383!important;
}

.iw-calendar .eventon_fullcal .evo_fc_day.bb{
    border-bottom: 0px solid #fff;
    border-top: 3px solid #fff;
}
.iw-calendar .eventon_fullcal .evo_fc_day.br{
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
}
.iw-calendar .eventon_sorting_section{

    background:#f1f1f1;
}

#page-top .eventon_list_event .evcal_desc span.evcal_event_title{
    color: #656565 !important;
}
.eventon_events_list .eventon_list_event .evcal_desc span.evcal_event_subtitle, .evo_pop_body .evcal_desc span.evcal_event_subtitle{
    color: #555 !important;
}
#page-top .eventon_list_event .desc_trig{
    background: #eaeaea;
    color:#656565!important;
	border-bottom:1px solid #ccc!important;
}
#page-top .eventon_list_event .desc_trig:hover{
    background: #e5e5e5!important;
}
.eventon_events_list .eventon_list_event .evcal_cblock .evo_date{
    background: none!important;
    color:#838383!important;
}
.eventon_events_list .eventon_list_event .evcal_cblock .evo_date span em{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.eventon_events_list .eventon_list_event span.evcal_cblock, .evo_pop_body span.evcal_cblock{
	margin-top:5px;
}
.widget-area .eventon_events_list .eventon_list_event .evcal_desc, .widget-area .evo_pop_body .evcal_desc, .widget-area #page-content p.evcal_desc{
	padding-left:60px!important;
}
.eventon_events_list .eventon_list_event .evcal_desc, .evo_pop_body .evcal_desc, #page-content p.evcal_desc{
	padding-left:80px!important;
}
.page .ajde_evcal_calendar .evcal_month_line p{
	color:#838383;
}

.eventon_events_list .eventon_list_event .evcal_eventcard, .evcal_evdata_row, .evorow .tbrow, .dark1{
    background: #eaeaea!important;
    color:#fff!important;
}
#evcal_list .eventon_list_event .evcal_eventcard p{
    color:#fff!important;
}
.evcal_event_details .evcal_evdata_cell .eventon_details_shading_bot{
    background: linear-gradient(to bottom, rgba(234, 234, 234, 0) 0%, rgba(234, 234, 234, 0.01) 1%, rgba(234, 234, 234, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
}

.evcal_evdata_row .evcal_evdata_icons i, .evcal_evdata_row .evcal_evdata_custometa_icons i,.evcal_evdata_row .evcal_evdata_cell h2, .evcal_evdata_row .evcal_evdata_cell h3{
    color:#6b6b6b!important;
}
#evcal_list .eventon_list_event p.no_events{
    background: #eaeaea;
}

#evcal_list .eventon_list_event .event_description p, #evcal_list .evcal_list_a .event_description li, .evo_pop_body .evcal_evdata_row .evcal_evdata_cell p{
    color:#656565!important;
 
}
.evorow.tb .evcal_col50, .evorow .tb .evcal_col50{
    border-top: 1px solid rgba(0, 0, 0, 0.1)!important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
}
.evcal_col50.bordr{
    border-right:1px solid rgba(0, 0, 0, 0.1)!important;
}

.widget-area #evcal_widget #evcal_head .evcal_arrows .fa{
    color:#000;
}


.page .evoFC_popin,.page .evo_popin{
    box-shadow:1px 1px 10px 1px #000;
}
.page .evoFC_popbg{
    opacity:0.7;
    background: #272727;
}

.page .evopop_top{
    background: #f1f1f1;
}
.page .evopop_top span.evcal_event_title{
    color:#fff!important;
}
.widget-area #evcal_widget .calendar_header{
	padding-left:15px!important;
}
.tab-history .our-team-nav span::before{
	background-color:#eee;
}
.tab-history .our-team-nav::before,.tab-history .our-team-nav span::before{
	border-color:rgba(0, 0, 0, 0.1);
}
.widget.EvcalWidget_SC{
	background:#eaeaea;
}
.widget.EvcalWidget_SC #evcal_head.calendar_header #evcal_cur, .widget.EvcalWidget_SC  #evcal_head.calendar_header .evcal_month_line p{
	color:#555;
}
.carts-store .title, .icon-wishlist .title{
	color:#555;
}
.popular-store .info-products,.open-hours-title,.open-hour i{
	color:#fff;
}
.page-product .toolbar{
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.product-cart .cart .cart-collaterals .box,.product-cart .cart .cart-table .row-item{
	background:#f1f1f1;
	border-color:#ddd;
}
.product-cart .cart .cart-collaterals .title{
	color:#fff;
}
.product-cart .cart .cart-table .row-title{
	background:#ddd;
}
.product-cart .cart .cart-table .row-item .item,.product-cart .cart .cart-table .row-title > div{
	border-right:1px solid #fff;
}
.quickview-close i,.quickviewloading{
	color:#fff;
}
.product-essential .more-views{
	background:#ddd;
}
.product-essential #owl-demo{
	border-color:#ddd;
}
.woocommerce table.wishlist_table{
	background:#fff;
}
.woocommerce table.wishlist_table thead th{
	background:#f1f1f1;
}
.woocommerce table.wishlist_table thead th, .woocommerce table.wishlist_table td{
	border-color:#ddd!important;
}
.ajde_evcal_calendar #evcal_head.calendar_header #evcal_cur, .ajde_evcal_calendar .evcal_month_line p{
	color:inherit!important;
}
.widget_categories, .widget_categories a, .widget_product_categories a, .widget_product_categories,
.widget_categories .widget-title span, .widget_product_categories .widget-title span{
	color:inherit;
}
.shopping-cart > a > span{
	color:#fff;
}
.widget_categories a:hover, .widget_product_categories a:hover{
	color:inherit;
}
.widget_categories .widget-title, .widget_product_categories .widget-title, .widget_price_filter .widget-title{
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.widget_categories li a::before, .widget_product_categories li a::before{
	background:rgba(0, 0, 0, 0.1);
}
.contact-form{
	background:none;
}
.menu-about ul li{
	border-left:none;
}
.menu-about ul li a:hover{
	color:inherit;
}
body:not(.index-white) .wpcf7-form input, body:not(.index-white) .wpcf7-form textarea, .wrapper .woocommerce input[type="text"]{
	background:#fff!important;
}
.iw-events .timetable-cont{
	background:#828282;
}
